<h1>Crear fabricante</h1>
<form action="/fabricante/crear-fabricante" method="post">

    <table>
        <tr>
            <td><label for="nombre">Nombre: </label></td>
            <td><input id="nombre" type="text" name="nombre" ></td>
        </tr>
        <tr>
            <td><label for="pais">Pais: </label></td>
            <td><input id="pais" type="text" name="pais" ></td>
        </tr>
        <tr>
            <td><label for="ubicacion">Ubicacion: </label></td>
            <td><input id="ubicacion" type="text" name="ubicacion" ></td>
        </tr>
        <tr>
            <td><label for="correo">Correo: </label></td>
            <td><input id="correo" type="text" name="correo" ></td>
        </tr>
    </table>
    <button type="submit">Crear</button>
    <button type="reset">Reset</button>
</form>

<a href="/fabricante/fabricantes">
    <button>Regresar a fabricantes</button>
</a>