
<% const arreglo = [1, 2, 3, 4, 5] //Puedo escribir codigo Javascript!  %>
<% const nombre = 'Adrian' %>
<% const numeroTitulo = 1 + 10 %>
<h1><%= nombre %> - <%= numeroTitulo %></h1>
<ul>
    <% for(let numero of arreglo){ %>
        <li>Numero: <%= numero %></li>
    <% } %>
</ul>


